.header-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.header-script{
    background-color: #222;
    color: #fff;
    padding: 5px;
    width: 100%;
}

.header {
    width: 1400px;
    padding: 10px 20px;
    background-color: var(--color-main); 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.header-item {
    width: 33.33%;
    display: flex;
}

.header-nav {
    justify-content: center;
}

.header-user {
    justify-content: flex-end;
}

.header-user_btn { 
    margin: 0 0.5rem; 
    padding: 5px 10px;
    background-color: #005a9e;
    color: #fff;
    border: none;
    border-radius: 4px;
}