.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  z-index: 111111111;
}

.header-script {
  background-color: #222;
  color: #fff;
  padding: 5px;
  width: 100%;
}

.header {
  width: 90%;
  padding: 10px 20px;
  background-color: var(--color-header-bg);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  z-index: 1000000;
}

.header-item {
  width: 33.33%;
  display: flex;
  flex-wrap: nowrap;
}

.nav-item {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--color-emerald-600);
    transition: width 0.3s ease;
}

/* .nav-item:hover {
    color: var(--color-emerald-500);
    text-shadow: 0 0 8px var(--color-emerald-300), 0 0 16px var(--color-emerald-500);
} */

.nav-item:hover::after {
    width: 100%;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}

.bounce-text {
  display: inline-block;
  color: #059669;
  font-weight: bold;
  animation: bounce 3s infinite;
}

.header-nav {
  justify-content: center;
}

.header-user {
  justify-content: flex-end;
}

.span-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-user_btn {
  margin: 0 0.5rem;
  padding: 5px 10px;
  background-color: var(--color-emerald-600);
  color: #fff;
  border: none;
  border-radius: 4px;
}

.header-user_btn:hover {
  background-color: var(--color-emerald-800);
}

.mobile-only {
  display: none;
}

.hamburger-btn {
  background: none;
  border: none;
  color: white;
  /* font-size: 2rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hamburger-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Menu mobile */
.mobile-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #222;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mobile-user-buttons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.mobile-menu nav a,
.mobile-user-buttons a {
  color: white;
  text-decoration: none;
  padding: 0.75rem 5px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-weight: 600;
}

.mobile-menu nav a:last-child,
.mobile-user-buttons a:last-child {
  border-bottom: none;
}

@media (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

/* Responsive breakpoint */
@media (max-width: 1280px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }

  .header-item {
    width: auto;
  }

  .header-container {
    width: 100%;
    height: auto;
  }

  .header-nav {
    display: none;
  }

  .header-logo {
    width: 50%;
  }

  .span-logo {
    font-size: 24px;
  }

  .header-script {
    font-size: 8px;
  }

  .header-container {
    height: auto;
  }

  .hamburger-btn {
    padding: 3px 5px;
  }

  .header {
    width: 100%;
    padding: 5px 10px;
    border-radius: 0;
    background-color: #222;
    z-index: 111111;
  }

}