.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.intro-container {
  flex: 1;
  padding: 40px 20px;
  margin-top: 100px;
  animation: fadeUp 1s ease forwards;
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
.intro-title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeUp 1s ease forwards;
  opacity: 0;
}
@keyframes fadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro-title span {
  display: inline-block;
  font-size: 36px;
  margin: 0 2px;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: default;
}
.intro-title span:hover {
  color: var(--color-success);
  transform: translateY(-5px) scale(1.3);
}

.intro-content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 60px;
  flex-wrap: wrap;
}

.intro-text {
  flex: 1 1 300px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}
.intro-text p {
  margin-bottom: 20px; 
  line-height: 1.6;
}
.intro-image {
  flex: 1 1 250px;
  text-align: center;
}
.intro-image img {
  max-width: 650px;
  border-radius: 12px;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .intro-title {
    font-size: 32px;
  }

  .intro-title span {
    font-size: 24px;
  }

  .intro-content {
    display: flex;
    margin: 0 auto;
    flex-direction: column; 
    text-align: center;
  }

  .intro-text {
    font-size: 16px;
    text-align: left; 
  }

  .intro-image img {
    margin: 20px auto 0;
    max-width: 90%;
  }
}