.model-apply {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}

.modal-apply-content {
    background: #fff;
    border-radius: 15px;
    width: 1200px;
    max-width: 1200px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    animation: fadeInScale 0.25s ease;
    position: relative;
    font-family: "Segoe UI", Roboto, sans-serif;
    overflow: hidden;
    padding: 15px;
}