.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5e7eb;
}

.cv-builder {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 2000px;
  padding-top: 120px;
  gap: 20px;
  background-color: #e5e7eb;
  margin: auto;
}

.cv-input {
  width: 40%;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cv-input h3.section-title {
  font-size: 20px;
  color: #2c3e50;
  border-bottom: 2px solid #28a745;
  padding-bottom: 5px;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: left;
}

.cv-input h3.section-title:first-child {
  margin-top: 0;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.input-group {
  flex: 1;
}

.input-group-full-width {
  flex-basis: 100%;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-container input,
.input-container textarea {
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px 0 5px;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  margin: 0;
}

.input-container .label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #999;
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 14px;
}

.input-container input:focus~.label,
.input-container input:not(:placeholder-shown):valid~.label,
.input-container textarea:focus~.label,
.input-container textarea:not(:placeholder-shown):valid~.label {
  top: -15px;
  font-size: 12px;
  color: #28a745;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #28a745;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input:focus~.underline,
.input-container input:not(:placeholder-shown):valid~.underline,
.input-container textarea:focus~.underline,
.input-container textarea:not(:placeholder-shown):valid~.underline {
  transform: scaleX(1);
}

.dynamic-input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  position: relative;
  border: 1px dashed #ccc;
  padding: 15px;
  border-radius: 8px;
  align-items: flex-start;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.cv-controls {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cv-controls button {
  /* padding: 12px 25px; */
  height: 40px;
  width: 30%;
  font-size: 14px;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  background-color: #27ae60;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cv-controls button:hover {
  background-color: #229954;
}

.rendering-template {
  width: 60%;
  /* background-color: #27ae60; */
}

.template-box {
  display: flex;
  background-color: #fff;
  justify-content: center;
  gap: 14px;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);;
}

.btn-template {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 50%;
}

.btn-template:hover {
  cursor: pointer;
}

.btn-template.active {
  background-color: var(--color-emerald-600);
  color: #fff;
}

@media (max-width: 768px) {
  .cv-builder {
    flex-direction: column;
    padding: 10px;
    padding-top: 60px;
  }

  .cv-input {
    width: 100%;
    padding: 20px;
  }

  .input-row {
    flex-direction: column;
  }

  .dynamic-input-group {
    flex-direction: column;
  }

  .remove-btn {
    position: static;
    margin-top: 10px;
  }
}

@media print {

  .cv-input,
  .cv-controls,
  .header,
  .footer {
    display: none !important;
  }

  .cv-builder {
    display: block !important;
    width: 100% !important;
    padding: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
  }
}