.detail-container {
    padding: 10px 0;
}

.page-picture {
    height: 150px;
    position: relative;
    overflow: hidden;
}

.bg-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.page-title {
    position: relative;
    z-index: 222;
    justify-content: start;
    padding: 0 10px 20px 10px;
    border-bottom: .5px solid lightgrey;
}

.avt-department {
    height: 80px;
    width: 80px;
    background-color: white;
    margin-top: -50px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.title-job {
    font-size: 24px;
    font-weight: 700;
}

.page-content {
    padding: 20px 10px;
}

.content-title:first-child {
    padding-bottom: 0;
}

.content-title {
    font-size: 18px;
    font-weight: 550;
    padding-top: 10px;
}