.App-Dashboard {
  text-align: center;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  position: relative;
}

.dashboard-layout-container {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin-top: 110px;
}

.main-content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-left: 1px solid #e5e7eb;
  /* height: 100%; */
}
.main-content-wrapper.expanded {
  margin-left: 220px;
  transition: margin-left 0.3s ease;
}
.main-content-wrapper.collapsed {
  margin-left: 60px;
  transition: margin-left 0.3s ease;
}

.search-wrapper {
  align-items: center;
  background-color: #e5e7eb;
  padding: 10px;
  border-radius: 4px;
}

.page-content {
  flex: 1;
  transition: margin-left 0.3s ease;
}
