.App-Dashboard {
    text-align: center;
    height: 100%;
    width: 100vw;
    background-color: #fff;
}

.dashboard-layout-container {
    display: flex;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100%;
}

.main-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-left: 1px solid #e5e7eb;
    /* height: 100%; */
}

.search-wrapper {
    align-items: center;
    background-color: #e5e7eb;
    padding: 10px;
    border-radius: 4px;
}

.page-content {
    height: 100%;
}