.settings-sidebar {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in; 
}

.settings-sidebar.is-open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.modal-header h2 {
    font-size: 1.4em;
    color: #333;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    color: #888;
    line-height: 1;
}

.setting-group {
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.setting-group h3 {
    color: #059669;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.template-switcher .button-group button {
    padding: 8px 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
}

.template-switcher .button-group button.active {
    background-color: #059669;
    color: white;
    border-color: #059669;
    font-weight: 600;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.setting-item input[type="color"] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
}

.setting-item select {
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

.btn-create-cv {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    
}