#root {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Chrome, Edge, Safari, Opera */
::selection {
    background: var(--color-emerald-600);
    color: #fff;
}

/* Firefox */
::-moz-selection {
    background: var(--color-emerald-600);
    color: #fff;
}