#root {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

/* Chrome, Edge, Safari, Opera */
::selection {
  background: var(--color-emerald-600);
  color: #fff;
}

/* Firefox */
::-moz-selection {
  background: var(--color-emerald-600);
  color: #fff;
}