.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.containerStyle {
    position: relative;
}

.container-fluid {
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
}

.container-fluid_banner {
    background-image: url('../../assets/images/banner-2.jpg');
}

.container-fluid_categories {
    background-image: url('../../assets/images/origin1.webp');
    /* background-color: #f1f7f4; */
}

.container-banner {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

.buttonStyle {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-searchjob {
    padding: 10px 0;
}

.imageBanner {
    width: 400px;
    z-index: 2;
}

.container-banner_item {
    position: relative;
}

.banner-item-select {
    z-index: 2;
}

.banner-item-select select {
    padding: 10px;
}

@keyframes floatShape {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(10px, -10px) scale(1.05);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

.banner-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape-background {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-right: 8rem;
    background: radial-gradient(circle,
            rgba(5, 150, 105, 1) 80%,
            rgba(4, 120, 87, 1) 80%,
            rgba(6, 95, 70, 1) 80%,
            rgba(167, 243, 208, 0.4) 80%);
    border-radius: 50%;
    z-index: 1;
    animation: floatShape 6s ease-in-out infinite;
}


.box-slogan {
    display: flex;
    width: 100%;
    padding: 45px;
    flex-direction: column;
    gap: 20px;
}

.slogan-content {
    color: gray;
    text-align: left;
}

.box-box-slogan {
    display: flex;
    gap: 10px;
}

.span-slogan-par {
    font-size: 48px;
    font-weight: 100;
}

.span-slogan {
    padding: 0px 15px;
    background-color: var(--color-tomato);
    border-radius: 25px;
    color: #fff;
    display: inline-block;
}

.slogan-text {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    font-size: 28px;
}

.slide-up {
    animation: slideUpFade 0.5s ease forwards;
}

@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1280px) {
    .container-banner {
        padding-top: 120px;
    }

    .shape-background {
        display: none;
    }

    .imageBanner {
        display: none;
    }

    .box-box-slogan {
        flex-wrap: wrap;
    }

    .span-slogan-par {
        font-size: 24px;
    }

    .slogan-text {
        font-size: 18px;
        margin-top: 5px;
    }

    .slogan-content {
        font-size: 16px;
    }

    .box-box-slogan {
        display: flex;
        align-items: center;
    }

    .box-slogan {
        align-items: center;
        justify-content: center;
        text-align: left;
    }
}

.container-categories {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 80px;
}

.categories-item {
    position: relative;
    background-size: contain;
}

.categories-item .item-bg,
.categories-item .item-bottom {
    transition: transform .5s ease;
}

.categories-film {
    position: absolute;
    display: none;
    opacity: .2;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #FCAA04 0%, #00B04D 100%);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.categories-item:hover .item-bg {
    transform: translateX(-10px);
}

.categories-item:hover .item-bottom {
    transform: translateX(10px);
}

.item-bottom {
    padding: 40px 20px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    flex-direction: column;

    box-shadow: 0 13px 29px #0000001a;
}

.item-title {
    font-weight: 550;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
}

.item-posted {
    text-align: left;
    color: var(--color-gray-500);
}

.item-bg {
    height: 15rem;
    position: relative;
}

.item-bg:hover .categories-film{
    display: flex;
}

.item-bg:hover .categories-film_icon{
    opacity: 1;
}




