.App {
    text-align: center;
    height: 100vh;
    color: #000;
    /* width: 100vw; */
}

.containerStyle {
    padding: 2rem;
    text-align: center;
    padding-top: 5rem;
    background-color: #fff;
    padding-top: 100px;

    height: 1200px;
};

.buttonStyle {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
};