.app-dashboard {
    height: 100%;
    width: 100%;
    background-color: var(--color-gray-50);
    padding: 10px;
}

.wrapper-dashboard {
    padding: 5px;
}

.wrapper-dashboard_head {
    padding: 10px 15px;
}

.body-head_card {
    height: 140px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

.tool-card {
    z-index: 9999999;
    padding: 10px;
}

.body-main_left {
    height: auto;
    padding: 20px 10px;
}

.body-main-bottom {
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 1280px) {
    .body-head_card_icon, .body-head_card_title {
        font-size: 18px;
    }

    .body-head_card_count {
        font-size: 30px;
    }

    .list_candidate_title {
        font-size: 18px;
    }
}