.detail-company-container {
    height: 100%;
    width: 100%;
}

.detail-company-body {
    max-width: 1600px;
    width: 1600px;
    /* padding: 0 20px; */
    padding-top: 120px;
    margin: 0 auto;

    /* height: 50vh; */
    margin-bottom: 50px;
}

.company-logo-box {
    position: relative;
    background-color: #fff;
    padding: 10px;
    height: 200px;
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.company-logo {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: 0;
    /* object-fit: contain; */
}

.company-jobsList {
    border-radius: 16px;
}

.company-info-card {
    padding: 20px;
    border-radius: 16px;
}

.company-banner {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.company-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.company-info-top {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.company-name-description {
    margin-left: 15px;
}

.company-info-avatar {
    height: 150px;
    width: 150px;
    background-color: white;
    margin-top: -30px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    z-index: 222;
}

.company-jobsList {
    padding: 20px;
    margin-top: 20px;
}

@media (max-width: 1280px) {
    .detail-company-body {
        width: 100%;
        padding: 60px 0 0 0;
    }

    .company-banner {
        height: 100px;
    }

    .company-info-card, .company-jobsList {
        border-radius: 0;
    }

    .company-jobsList {
        margin-top: -20px;
    }

    .company-info-avatar {
        height: 120px;
        width: 120px;
        margin: auto;
        margin-top: -50px;
    }

    .company-info-top {
        flex-direction: column;
        gap: 5px;
    }

    .company-name-description {
        margin-left: 0;
    }

    .company-info-name {
        text-align: center;
    }
}