/* Styles cho lớp phủ và khung modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 700px;
  max-height: 90vh;
  /* Giới hạn chiều cao để có thể cuộn */
  overflow-y: auto;
  /* Thêm thanh cuộn khi nội dung dài */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.modal-body {
  flex: 1;
}

/* Kiểu dáng cho các section trong form */
.section-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.section-container h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  border-bottom: 2px solid #000;
  padding-bottom: 0.5rem;
  /* color: #4CAF50; */
}

/* Kiểu dáng cho input */
.input-container {
  position: relative;
  margin: 2rem 0;
}

.input-container input[type="text"],
.input-container textarea {
  font-size: 1rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem 0;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  resize: vertical;
  /* Cho phép textarea thay đổi kích thước theo chiều dọc */
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #aaa;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label,
.input-container textarea:focus~.label,
.input-container textarea:valid~.label {
  top: -1.25rem;
  font-size: 0.8rem;
  color: #333;

}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  /* background-color: #333; */
  background-color: #28a745;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline,
.input-container textarea:focus~.underline,
.input-container textarea:valid~.underline {
  transform: scaleX(1);
  border-bottom: 2px solid #4CAF50;
}

/* Kiểu dáng cho phần nhân viên */
.skill-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill-input-wrapper .input-container {
  flex-grow: 1;
}

.remove-skill-button {
  padding: 8px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.remove-skill-button:hover {
  background-color: #c82333;
}

/* Nút thêm nhân viên và nút submit */
.add-button-container {
  text-align: right;
  margin-top: 1rem;
}

.add-button-container button {
  padding: 8px 15px;
  background-color: #059669;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.submit-addCompany-button {
  background-color: #059669;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 1.5rem;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #45a049;
}