.job-post-container {
  padding: 10px;
  position: relative;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  border-radius: 20px;
  width: 500px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: var(--color-emerald-600);
}

.add-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  background-color: var(--color-emerald-600);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.add-button:hover {
  background-color: var(--color-emerald-700);
  transform: translateY(-1px);
}

.add-button:active {
  transform: translateY(0);
}

.job-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  height: 100%;
  /* background-color: #ff4444; */
}


.job-card {
  background: url('../../assets/images/origin.webp')
   center no-repeat;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #ECE7E2;
}


.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.job-date {
  font-size: 12px;
  color: #666;
}

.close-card-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ff4444;

}

.job-card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.job-card p {
  margin: 5px 0;
  color: #666;
}

.job-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
  color: #666;
}

.job-skills span {
  background-color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.job-body {
  display: flex;
  flex-direction: column;

}

.job-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.job-address {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-button {
  padding: 5px 15px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #333;
}