/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  /* width: 90%; */
  /* max-width: 600px; */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-header {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

/* Hiệu ứng xuất hiện */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Form group */
.form-group {
  margin-bottom: 15px;
  display: flex;

  
}

.form-group label {
  font-weight: bold;
  color: #444;
  position: relative;
  width: 200px;
  text-align: left;
}

.form-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  outline: none;
  transition: border 0.2s ease;
  width: 100%; 
  box-sizing: border-box; 
}

.form-group input:focus {
  border-color: #007bff;
}

/* Nút hành động */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.modal-actions button:hover {
  opacity: 0.9;
}

.modal-actions .save-btn {
  background: #0a9c45;
  color: #fff;
}

.modal-actions .close-btn {
  background: #ccc;
  color: #333;
}

.info-input-area {
  width: 100%;
  min-height: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

/* .form-group.avatar-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
} */

.form-group.avatar-group label {
  font-weight: bold;
  color: #444;
  text-align: left;
  margin-bottom: 5px;
}

.file-input-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.file-input {
  display: inline-block; 
}

/* .file-label {
  display: inline-block;
  padding: 8px 14px;
  background-color: #007bff;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
} */


.file-name {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
  text-align: left;
  max-width: 300px;
}

.avatar-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd; 
}


