.view-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.view-modal {
  background: #fff;
  border-radius: 15px;
  width: 1200px;
  height: 900px;
  max-width: 1200px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  animation: fadeInScale 0.25s ease;
  position: relative;
  font-family: "Segoe UI", Roboto, sans-serif;
  overflow: hidden;
  padding: 15px;
  animation: slideInRight 0.5s ease forwards;
}

.view-modal.close {
  animation: slideOutRight 0.5s ease forwards;
}

.view-modal-head {
  position: sticky;
  width: 100%;
  z-index: 1111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-emerald-600);
}

.view-modal-content {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
}

.view-modal-title {
  font-size: 28px;
  font-weight: 700;
}

.view-modal .close-btn {
  padding: 10px;
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  color: #888;
  transition: color 0.2s;
}

.view-modal .close-btn:hover {
  color: #e74c3c;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 10px 0;
}

.company-avatar {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
  background: #f4f4f4;
  padding: 6px;
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  align-items: start;
  padding: 10px 0;
}

.info-input {
  flex: 1;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

.info-input:focus {
  border: 1px solid var(--color-emerald-600);
  color: var(--color-emerald-600);
}

.job-info-item {
  border-bottom: 2px solid #ccc;
  width: 100%;
  display: flex;
  padding: 15px 0;
}

.job-info-lable {
  width: 30%;
  text-align: left;
}

.job-info .label {
  font-weight: 600;
  color: #374151;
}

.section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-ul li {
  width: 100%;
}

.section h4 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.section ul {
  padding-left: 20px;
  list-style: disc;
  color: #444;
}

.skills-list li {
  margin: 3px 0;
}

.job-description {
  background: var(--color-gray-50);
  border-left: 4px solid var(--color-emerald-600);
  padding: 12px 16px;
  border-radius: 6px;
}

.job-footer {
  padding: 10px 0;
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}

.creator {
  display: flex;
  align-items: center;
  gap: 8px;
}

.creator img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-save-edit {
  width: 100%;
  height: 40px;
  background-color: var(--color-emerald-600);
  border-radius: 15px;
}

/* slide-in từ phải */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* slide-out sang trái */
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.tab-content-enter {
  animation: slideInRight 0.3s forwards;
  z-index: 999;
}

.tab-content-exit {
  animation: slideOutLeft 0.3s forwards;
}

.table-wrapper {
  overflow-x: auto; /* responsive */
  margin-top: 1rem;
}

.applications-table {
  width: 100%;
  border: none;
  min-width: 600px;
}

.applications-table th,
.applications-table td {
  /* border: 1px solid #d1d5db;  */
  padding: 8px 15px;
  text-align: left;
}

.applications-table th {
  background-color: #f9fafb; /* gray-50 */
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.applications-table tr:hover {
  background-color: #f3f4f6; /* hover bg */
}

.status-badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 10px;
}

.status-pending {
  background-color: #fef3c7;
  color: #92400e;
}

.status-reviewed {
  background-color: #dbeafe;
  color: #1e3a8a;
}

.status-accepted {
  background-color: #d1fae5;
  color: #065f46;
}

.status-rejected {
  background-color: #fee2e2;
  color: #991b1b;
}

.status-contacted {
  background-color: var(--color-emerald-300);
  color: var(--color-emerald-800);
}


.candidate-name {
  max-width: 200px;       /* giới hạn chiều ngang */
  white-space: nowrap;     /* 1 dòng */
  overflow: hidden;        /* ẩn phần dư thừa */
  text-overflow: ellipsis; /* ... */
  display: flex;
  align-items: center;
  gap: 6px;
}
.candidate-avt {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-contact {
  background-color: var(--color-emerald-600);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.2s;
}

.btn-mess {
  background-color: var(--color-blue-500);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.2s;
}


