.view-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.view-modal {
  background: #fff;
  border-radius: 15px;
  width: 850px;
  max-width: 95%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  animation: fadeInScale 0.25s ease;
  position: relative;
  font-family: "Segoe UI", Roboto, sans-serif;
  overflow: hidden;
  padding: 15px;
}

.view-modal-head {
  position: sticky;
  width: 100%;
  z-index: 1111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-emerald-600);
}

.view-modal-content {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
}

.view-modal h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.view-modal .close-btn {
  padding: 10px;
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  color: #888;
  transition: color 0.2s;
}

.view-modal .close-btn:hover {
  color: #e74c3c;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 10px 0;
}

.company-avatar {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
  background: #f4f4f4;
  padding: 6px;
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  align-items: start;
  padding: 10px 0;
}

.info-input {
  flex: 1;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

.info-input:focus {
  border: 1px solid var(--color-emerald-600);
  color: var(--color-emerald-600);
}

.job-info-item {
  border-bottom: 2px solid #ccc;
  width: 100%;
  display: flex;
  padding: 15px 0;
}

.job-info-lable {
  width: 30%;
  text-align: left;
}

.job-info .label {
  font-weight: 600;
  color: #374151;
}

.section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-ul li {
  width: 100%;
}

.section h4 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.section ul {
  padding-left: 20px;
  list-style: disc;
  color: #444;
}

.skills-list li {
  margin: 3px 0;
}

.job-description {
  background: rgb(248, 248, 248);
  border-left: 4px solid var(--color-emerald-600);
  padding: 12px 16px;
  border-radius: 6px;
}

.job-footer {
  padding: 10px 0;
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}

.creator {
  display: flex;
  align-items: center;
  gap: 8px;
}

.creator img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-save-edit {
  width: 100%;
  height: 40px;
  background-color: var(--color-emerald-600);
  border-radius: 15px;
}
