.profile-container {
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.profile-content {
    max-width: 1400px;
    width: 1400px;
    padding: 0 20px;
    padding-top: 120px;
    margin: 0 auto;
}

.profile-avatar_container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.avtar-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity .8s;
}

.profile-avatar_container:hover .avtar-edit {
    opacity: 1;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--color-emerald-600);
}

.card-link_item {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link_item:hover {
    background-color: var(--color-gray-100);
    border-radius: 8px;
}

.link_item_link {
    color: var(--color-blue-400);
}

.card-link_item span{
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-card_about {
    padding: 30px 20px;
}

/* From Uiverse.io by dovatgabriel */ 
.group {
 position: relative;
}

.input {
 font-size: 16px;
 padding: 10px 10px 10px 5px;
 display: block;
 width: 100%;
 border: none;
 border-bottom: 1px solid #515151;
 background: transparent;
}

.input:focus {
 outline: none;
}

label {
 color: #999;
 font-size: 18px;
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 left: 5px;
 top: 10px;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
 top: -20px;
 font-size: 14px;
 color: var(--color-emerald-600);
}

.bar {
 position: relative;
 display: block;
 width: 100%;
}

.bar:before, .bar:after {
 content: '';
 height: 2px;
 width: 0;
 bottom: 0px;
 position: absolute;
 background: var(--color-emerald-600);
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.bar:before {
 left: 50%;
}

.bar:after {
 right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
 width: 50%;
}

.highlight {
 position: absolute;
 height: 60%;
 width: 100px;
 top: 25%;
 left: 0;
 pointer-events: none;
 opacity: 0.5;
}

.input:focus ~ .highlight {
 animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
 from {
  background: var(--color-emerald-600);
 }

 to {
  width: 0;
  background: transparent;
 }
}

/* From Uiverse.io by zjssun */ 
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--color-emerald-600);
  transition: all 0.2s ease;
  width: 300px;
  z-index: 1111;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--color-emerald-600) 20%, transparent 30%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--color-emerald-600) 15%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--color-emerald-600) 15%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%),
    radial-gradient(circle, var(--color-emerald-600) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@media (max-width: 1280px) {
    .profile-content {
        max-width: 100%;
        width: 100%;
        padding: 80px 10px;
    }

    .profile-avatar_container {
        width: 80px;
        height: 80px;
    }

    .profile-avatar {
        width: 80px;
        height: 80px;
        border: 2px solid var(--color-emerald-600);
    }

    .button {
        width: 100%;
    }
}