.buildcv-app {
    height: 100%;
    width: 100%;
}

.buildcv-content {
    display: flex;
    min-height: calc(100vh - 120px - 50px);
    transition: all 0.5s ease-in-out;
    padding-top: 120px;
}

.buildcv-toolbar {
    position: relative; 
    width: 0;  
    padding: 0;
    transition: width 0.5s ease-in-out, padding 0.5s ease-in-out; 
    background-color: #fff;
    height: fit-content;
    margin-top: 50px;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.buildcv-content.modal-open .buildcv-toolbar {
    width: 300px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.buildcv-content-page {
    flex-grow: 1; 
    padding: 20px;
    box-sizing: border-box;
    transition: width 0.5s ease-in-out;
}

.buildcv-content.modal-open .buildcv-content-page {
    width: calc(100% - 300px);
}

.open-close-toolbar-button {
    position: absolute;
    left: 10px;
    top: 150px;
    transform: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    
    background-color: #059669;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 50;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buildcv-content.modal-open .open-close-toolbar-button {
    left: 250px;
    top: 20px;
    background-color: #059669;
    border-radius: 50%;
    transform: rotate(180deg); 
}

.open-close-toolbar-button:hover {
    background-color: #059669;
}