.notification-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.notification-box {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.notification-title {
  font-size: 20px;
  font-weight: bold;
  color: #059669;
  margin-bottom: 10px;
}

.notification-message {
  margin-top: 10px;
  /* color: #fff; */
}

.notification-time {
  display: block;
  margin-top: 10px;
  color: #888;
  font-size: 13px;
}

.notification-footer {
  text-align: right;
  margin-top: 20px;
}

.notification-footer button {
  background-color: #059669;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notification-footer button:hover {
  background-color: #047857;
}
