.hr-list-container {
  padding: 24px;
  background-color: #fff;
  min-height: 100%;
}

.hr-search-container {
  display: flex;
  justify-content: start;
  margin-bottom: 24px;
}

.hr-search-input {
  padding: 10px 15px;
  border: 1px solid var(--color-emerald-600);
  border-radius: 20px;
  font-size: 14px;
  width: 500px;
  outline: none;
  transition: border-color 0.3s ease;
}

.hr-search-input:hover {
  border-color: #b4b9bf;
}

.hr-search-input:focus {
  border-color: #0c8f47;
  box-shadow: 0px 0px 0px 4px rgba(12, 143, 71, 0.18);
  background: #fff;
}

.hr-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.hr-card {
  /* background: url('../../assets/images/origin.webp') center no-repeat;
  background-size: cover; */
  /* background-color: var(--color-blue-50); */
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  /* height: 200px; */
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ece7e2;
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  gap: 16px;
  align-items: center;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease, box-shadow 0.28s ease;
}

.hr-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.hr-avatar {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #e5e7eb;
  transition: all 0.25s ease;
}

.hr-card:hover .hr-avatar {
  border-color: #0c8f47;
}

.hr-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
  justify-content: start;
  align-items: start;
}

.hr-info h3 {
  margin: 0;
  color: #111827;
  font-size: 19px;
  font-weight: 700;
}

.hr-info p {
  margin: 3px 0;
  font-size: 14px;
  color: #4b5563;
}

.no-company {
  color: #9ca3af;
  font-style: italic;
}

.hr-status-badge {
  margin-top: 6px;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 6px;
  font-weight: 600;
  display: inline-block;
}

.ban-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--color-red-300);
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  text-align: center;
  transition: all 0.2s ease;
  margin: 0 auto;
}

.ban-btn:hover {
  background: var(--color-red-400);
}

.ban-btn.unban {
  background: #059669;
}

.ban-btn.unban:hover {
  background: #047857;
}

/* ====== TRẠNG THÁI EMPTY / LOADING / ERROR ====== */
.hr-empty,
.hr-loading,
.hr-error {
  text-align: center;
  color: #6b7280;
  font-size: 16px;
  margin-top: 30px;
  padding: 20px 0;
}
